# Firebase
GoogleService-Info.plist
**/GoogleService-Info.plist
# API Keys & Secrets
Config.swift
# Xcode
.DS_Store
**/.DS_Store
*.xcuserstate
xcuserdata/
*.xcworkspace
!default.xcworkspace
DerivedData/
build/

# Mac
.DS_Store
